@import "normalyze.scss";

// === Variables ===
$sm:576px;
$md:768px;
$lg:992px;
$xl:1200px;

$sm-max:767px;
$md-max:991px;
$lg-max:1199px;
// === / Variables ===

// === Common ===
* {
	box-sizing: border-box;
	outline: none;
}

li,
a {
	text-decoration: none;
	list-style: none;
	color: inherit;
}

body {
	font-family: 'Lato', sans-serif;
	background-color: #F2F2F2;
}



.on-button {
	padding: 17px 50px;
	font-weight: normal;
	font-size: 18px;
	line-height: 1.22;
	text-align: center;
	color: #414141;
	border: 1px solid #979797;
	border-radius: 4px;
	background: linear-gradient(90deg, #FE985B 2.77%, #FE4FA7 100%);
	// box-shadow: 0 0 10px #000;
	cursor: pointer;
	transition: all 0.2s ease-in;

	&:hover {
		color: #fff;
		// text-shadow: 1px 1px 1px #000;
		background: linear-gradient(90deg, #f88644 2.77%, #fc3397 100%);
		transform: translateY(-2px);
	}

	&:active {
		color: #000;
	}
}

.off-button {
	padding: 17px 50px;
	font-weight: normal;
	font-size: 18px;
	line-height: 1.22;
	text-align: center;
	color: #414141;
	border: 1px solid #979797;
	border-radius: 4px;
	background-color: transparent;
	// box-shadow: 0 0 10px #000;
	cursor: pointer;
	transition: all 0.2s ease-in;

	&:hover {
		// text-shadow: 1px 1px 1px #000;
		background: linear-gradient(90deg, #f88644 2.77%, #fc3397 100%);
		transform: translateY(-2px);
		color: #fff;
	}

	&:active {
		color: #000;
	}
}
// === / Common ===


.section-outer {
	@media (max-width:$lg){
		padding-right: 20px;
		padding-left: 20px;
		margin-bottom: 40px
	}
	
}

.section-inner {
	max-width: 1180px;
	margin: 0 auto;
}

// === header ===
.section-header {
	position: relative;
	background: url(../img/Bitmap.png) center / cover no-repeat;
	color: #fff;


	@media (min-width:$md-max){
		margin-bottom: 100px;
	}
	@media (max-width:$lg){
		margin-bottom: 20px;
	}

	.section-inner {
		height: 100vh;
		position: relative;
		z-index: 10;
		display: flex;
		flex-direction: column;

	}

	&::before {
		content: '';
		position: absolute;
		z-index: 5;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(20, 39, 41, .6);
	}

	&-logo {
		padding-top: 35px;
		font-size: 24px;
		font-weight: 700;
		flex-shrink: 1;

		a {
			color: #fff;
			text-decoration: none;
			transition: all 0.2s ease-in;

			&:hover {
				color: #a9a9a9;
				text-shadow: 1px 1px 1px #000;
			}
		}
	}

	&-content {
		display: flex;
		flex-grow: 1;
		align-items: center;
	}

	&-wrapper {
		margin: 0 auto;


		&__title {
			font-size: 56px;
			font-weight: 700;
			text-align: center;
			margin-bottom: 20px;
		}

		&__subtitle {
			width: 75%;
			margin: 0 auto;
			text-align: center;
			font-size: 18px;
			line-height: 1.77;
			margin-bottom: 40px;
		}

		&__form {
			display: flex;
			@media (max-width:$md){
				flex-direction:column;
			}

			&-input {
				display: flex;
				flex: 1;
				@media (max-width:$md){
					margin-bottom: 20px;
				}

				input {
					
					padding: 17px 20px;
					
					background: rgba(255, 255, 255, 0.25);
					color: #fff;
					border: none;
					border-radius: 4px;
					font-size: 16px;
					transition: all 0.2s ease-in;
					@media (min-width:$sm-max){
						margin-right: 40px;
						width: 100%;
					}
					@media (max-width:$md){
						width: 100%;
						margin-right: 0px;
					}
					&::placeholder {
						color: #fff;
					}

					&:hover {
						box-shadow: 0 0 5px #000;
						text-shadow: 1px 0 1px #000;
						background: rgba(255, 255, 255, 0.5);
					}
				}
			}

			&-btn {
				
			}
			.on-button{
				@media (max-width:$md){
					width: 100%;
					
				}
			}

		}
	}
}

// === / header ===

// === promo ===
.section-promo {
	
	@media (min-width: $md-max){
		margin-bottom: 132px;
	}
	@media (max-width:$md){
		margin-bottom: 40px;
	}
	.section-inner {
		display: flex;
		justify-content: center;
		@media (max-width:$lg){
			flex-direction: column;
		}
	}

	.section-promo-1 {
		flex-basis: 50%;
		
		@media (min-width: $md-max){
			padding-right: 100px;
		}

		@media (max-width:$lg){
	padding: 20px;
	
		}

		.title {
			font-weight: bold;
			font-size: 30px;
			line-height: 51px;
			color: #414141;
			
			@media (min-width: $md-max){
				margin-bottom: 57px;
			}
	
			@media (max-width:$lg){
				margin-bottom: 20px;
			}
		}

		.subtitle {
			font-weight: bold;
			font-size: 18px;
			line-height: 22px;
			margin-bottom: 14px;
		}

		.text {
			font-weight: 300;
			font-size: 16px;
			line-height: 28px;
			color: #6c6c6c;
			margin-bottom: 30px;
		}
	}

	.section-promo-2 {
		display: flex;
		@media (max-width:$lg){
			order: -1;
			margin-top: 10px;
			margin-bottom: 10px;
			justify-content: center;
		}

		img {
			width: 90%;
			align-self: center;
			transition: all 0.2s ease-in;

			&:hover {
				transform: scale(1.02);
				opacity: .9;
			}
		}
	}

	.section-promo-3 {

		display: flex;
		max-width: 1180px;
		margin: 0 auto;
		
		border-top: 1px solid #E2E2E2;
		@media (min-width:$sm-max){
			// margin-right: 40px;
			// width: 100%;
		}
		@media (max-width:$md){
			flex-direction: column;
		}


		@media (min-width: $md-max){
			margin-top: 100px;
		padding-top: 60px;
		}

		@media (max-width:$lg){
			margin-top: 20px;
		
		}
		&__item {
			text-align: center;

			.logo {
				margin-bottom: 20px;
			}

			.subtitle {
				font-weight: bold;
				font-size: 18px;
				line-height: 22px;
				margin-bottom: 14px
			}

			.text {
				font-weight: 300;
				font-size: 16px;
				line-height: 28px;
				color: #6c6c6c;
				margin-bottom: 30px;
				@media (max-width:$md){
					padding: 10px 50px;
				}
			}
		}
	}
}

.section-promo-3__item+.section-promo-3__item {
	@media (min-width:$sm-max){
		padding-left: 40px;
	}
	@media (max-width:$md){
		// flex-direction: column;
	}
	
}

// === / promo ===

// === founder ===
.section-founder {
	background-color: #f6fafd;
	
	@media (min-width: $md-max){
		margin-bottom: 120px;
	}

	@media (max-width:$lg){
		margin-bottom: 40px;
	}

	.section-inner {
		display: flex;
		@media (min-width: $md-max){
			// padding: 0 200px
		}
		@media (max-width:$lg){
			flex-direction: column;
		}
	}

	&__img {
		align-self: flex-end;
		padding-top: 30px;
		@media (max-width:$lg){
			align-self: flex-start;
			order: +1;
		}
	}

	&__content {
		align-self: center;
		padding-left: 50px;
		padding-right: 50px;

		.text {
			font-size: 24px;
			line-height: 40px;
			color: #414141;
			padding-bottom: 30px;
			
		}

		.name {
			font-weight: bold;
			font-size: 24px;
			line-height: 29px;
			color: #414141;
			@media (max-width:$lg){
				text-align: right;
			}
		}

		.desc {
			font-size: 20px;
			line-height: 24px;
			color: #414141;
			@media (max-width:$lg){
				text-align: right;
			}
		}
	}
}

// === / founder ===
// === plans ===
.section-plans {
	
	@media (min-width: $md-max){
		margin-bottom: 150px;
	}

	@media (max-width:$lg){
		margin-bottom: 40px;
	}

	.section-inner {
		
		@media (min-width: $md-max){
			padding: 0 200px;
		}

		@media (max-width:$lg){
			padding: 0 40px;
		}

		.title {
			font-weight: bold;
			font-size: 36px;
			line-height: 51px;
			text-align: center;
			color: #414141;
			margin-bottom: 20px;
		}

		.text {
			padding: 0 70px;
			font-weight: 300;
			font-size: 16px;
			line-height: 28px;
			text-align: center;
			color: #6c6c6c;
			
			@media (min-width: $md-max){
				margin-bottom: 100px;
			}
	
			@media (max-width:$lg){
				margin-bottom: 20px;
			}
			
		}

		.pay {
			display: flex;
			
			@media (max-width:$lg){
				flex-direction: column;
			}


			.free {
				padding: 50px 0;
				text-align: center;
				border: 1px solid transparent;

				&:hover {
					background-color: #f6fafd;
					border: 1px solid #e2e2e2;
					border-radius: 4px;

				}

				.subtitle {
					font-weight: bold;
					font-size: 14px;
					line-height: 17px;
					text-align: center;
					color: #414141;
				}

				.price {
					font-weight: bold;
					font-size: 72px;
					line-height: 86px;
					text-align: center;
					color: #FE4FA7;

					span {
						font-weight: bold;
						font-size: 14px;
						line-height: 17px;
						text-align: center;
						color: #414141;
					}
				}

				.text {
					@media (max-width:$lg){
						padding: 0 100px;
					}
				}

				.btn {}

			}

			.premium {
				padding: 50px 0;
				text-align: center;
				border: 1px solid transparent;

				&:hover {
					background-color: #f6fafd;
					border: 1px solid #e2e2e2;
					border-radius: 4px;

				}

				.subtitle {
					font-weight: bold;
					font-size: 14px;
					line-height: 17px;
					text-align: center;
					color: #414141;
				}

				.price {
					font-weight: bold;
					font-size: 72px;
					line-height: 86px;
					text-align: center;
					color: #FE4FA7;

					span {
						font-weight: bold;
						font-size: 14px;
						line-height: 17px;
						text-align: center;
						color: #414141;
					}
				}

				.text {}

				.btn {}
			}
		}
	}
}
// === /plans ===

// === free ===
.section-free {
	text-align: center;
	
	background: linear-gradient(90deg, #FE985B 2.77%, #FE4FA7 100%);
	
	@media (min-width:$md-max){
		padding: 120px 0;
	}

	@media (max-width:$lg){
		padding: 20px 0;

	}
	.section-inner {
		.title {
			font-weight: bold;
			font-size: 55px;
			line-height: 60px;
			text-align: center;
			color: #FFFFFF;
			margin-bottom: 30px;
		}

		.text {
			
			font-size: 20px;
			line-height: 30px;
			text-align: center;
			color: #FFFFFF;
			margin-bottom: 30px;

			@media (min-width:$md-max){
				padding: 0 320px;
			}
			@media (max-width:$lg){
				padding: 20px 50px;
	
			}
			@media (min-width:$sm){
				padding: 10px 10px;
			}
		}

		.button {
			.off-button {
				background-color: #fff;
				color: #464646;
				border: none;

				&:hover {
					color: #fff;
					border: none;
				}
			}
		}

	}
}

.section-footer {
	
	@media(min-width:$md){
		padding-top: 85px;
	}


	.section-inner {
		.title {
			text-align: center;
			font-weight: bold;
			font-size: 24px;
			line-height: 29px;
			color: #464646;
			margin-bottom: 30px;
		}

		.footer-nav {
			margin-bottom: 80px;

			&__list {
				
				@media (min-width: $md-max){
					padding: 0 200px
				}
				@media (max-width:$lg){
					padding: 0 40px
				}

				
				@media (min-width:$sm-max){
					display: flex;
					justify-content: space-between;
					
				}
			}

			&__link {
				transition: all .2s ease-in;

				&:hover {
					color: #fe50a6;
				}

				&:first-child {
					@media (min-width:$sm-max){
						padding-left: 0px;
					}
			
				}

				font-weight: bold;
				font-size: 14px;
				line-height: 20px;
				text-align: center;
				text-transform: uppercase;
				color: #464646;

				
				@media (max-width:$md){
					padding-top: 20px;
				}
			}
		}

		.footer-copyright {
			
			@media (min-width: $md-max){
				margin-bottom: 100px;
			}
			@media (max-width:$md){
				margin-bottom: 20px;
			}

			.footer-copyright__list {
				display: flex;
				justify-content: space-between;
			
				// @media (min-width: $md-max){
				// 	padding: 0 200px
				// }
			
				// @media (max-width:$lg){
				// 	padding-bottom: 20px;
				// 	// padding: 0 40px
				// }

				@media (min-width: $md-max){
					padding: 0 200px
				}
				@media (max-width:$md){
					text-align: center;
					flex-direction:column;
				}

				
				@media (min-width:$sm-max){
					display: flex;
					justify-content: space-between;
					
				}

				.footer-copyright__link {
					font-weight: normal;
					font-size: 14px;
					line-height: 17px;
					text-transform: capitalize;
					color: #464646;
					@media (max-width:$md){
						margin-bottom: 20px;
						
					}
				}
			}
		}
	}
}